@import './theme.scss';

.ideas--entry {
  display: flex;
  align-items: center;
  margin-top: 20px;

  font-family: Georgia;
}
.ideas--entry--content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ideas--entry--header {
  display: flex;
  align-content: center;
}
.ideas--entry--title {
  font-weight: bold;
  font-size: 20px;
  flex-grow: 1;
}
.ideas--entry--timestamp {
  color: $boxTextColorSecondary;
}
.ideas--entry--description {
  margin-top: 15px;
}

.ideas--creator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ideas--creator--title {
  font-size: 18px;
  margin-top: 15px;
}
.ideas--creator--description {
  font-size: 15px;
  resize: vertical;
  height: 150px;
}


.ideas--creator--title,
.ideas--creator--description {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  outline: none;
}

.ideas--creator--create {
  width: 100%;
}

.ideas--entry--likes {
  align-self: end;
}


.likes {
  margin-top: 10px;
  font-family: georgia;
}

.likes .likes--icon {
  font-size: 1em;
}

.likes--icon,
.likes--count {
  vertical-align: bottom;
  cursor: pointer;
}
.likes--count {
  margin-left: 3px;
  margin-right: 5px;
}
.likes--names {
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $boxTextColorSecondary;
}