@import './theme.scss';

.ideas--list .ideas--entry {
  margin-top: 20px;
}

.ideas--entry {
  display: flex;
  align-items: center;

  font-family: Georgia;
}
.ideas--entry--content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ideas--entry--tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: italic;
  width: 100%;
}

.ideas--entry--tag {
  display: inline-block;
  margin: 4px;
}

.ideas--entry--header {
  display: flex;
  align-content: center;
}
.ideas--entry--title {
  font-weight: bold;
  font-size: 20px;
  flex-grow: 1;

  a {
    color: $primaryColor;

    &:hover, &:focus {
      color: $primaryColorHover;
      text-decoration: underline;
    }
  }
}
.ideas--entry--timestamp {
  color: $boxTextColorSecondary;
  align-self: center;
  margin-left: 10px;
}

.ideas--entry--author {
  align-self: start;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.ideas--entry--initials {
  display: inline-block;
  margin-top: 5px;
  text-align: center;
  font-family: monospace;
  font-size: 1.2em;
  color: $boxTextColorSecondary;
}

.ideas--creator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ideas--creator--title {
  font-size: 18px;
}

.ideas--creator--description {
  font-size: 15px;
  resize: vertical;
  height: 150px;
}


.ideas--creator--title,
.ideas--creator--tags,
.ideas--creator--description {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
  outline: none;
}

.ideas--creator--create {
  width: 100%;
}

.ideas--creator--preview {
  margin-top: 10px;
  width: 100%;
  color: $boxTextColorSecondary;

  >div {
    padding: 5px;
  }
}

.ideas--entry--footer {
  margin-top: 10px;
  display: flex;
  font-family: georgia;
  justify-content: space-between;
}


.ideas--entry--actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  span {
    cursor: pointer;
  }
}

.likes .likes--icon {
  font-size: 1em;
}

.likes--icon,
.likes--count {
  vertical-align: bottom;
  cursor: pointer;
}
.likes--count {
  margin-left: 3px;
  margin-right: 5px;
}
.likes--names {
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $boxTextColorSecondary;
}