@import './theme.scss';

* {
    box-sizing: border-box;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header--auth--email {
        display: none;
    }
}

body {
    background-color: $mainBackground;
}

b {
    font-weight: bold;
}

.header {
    padding: 5px 20px;
    background-color: $headBackground;
    color: $headColor;
    display: flex;
    font-family: Helvetica;
    align-items: center;
}

.header a:focus, .header a:hover {
    text-decoration: underline;
}

.header--title {
    font-size: 2em;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header--title-text {
    margin-left: 15px;
}

.header--auth {
    max-height: 100px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: 'trebuche ms';
}

.header--auth--picture {
    width: 32px;
    border-radius: 32px;
    margin-left: 15px;
}

.header--auth--email {
}

.header--auth--logout {
    margin-left: 15px;
}

.header--logo, .header--mascot {
    height: 50px;
}

.box--header {
    font-size: 1.7em;
    font-family: Palatino;
}

.box {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: $boxBackground;
    color: $boxTextColor;
}

.box--header--underline {
    width: 100%;
    border-bottom: 1px solid $boxTextColor;
    display: inline-block;
}

.entry--picture {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.md {
    p {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    strong{
        font-weight: bold;
    }
    em {
        font-style: italic;
    }
    code {
        font-family: monospace;
    }
    ul {
        list-style: square;
        padding-left: 15px;
    }
    ol {
        padding-left: 15px;
        list-style-type: decimal;
    }
    a {
        color: $primaryColor;
        &:hover, &:focus {
            color: $primaryColorHover;
            text-decoration: underline;
        }
    }
}

.th--button {
    outline: none;
    border: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    color: white;
    background-color: $primaryColor;

    &:focus, &:hover {
        background-color: $primaryColorHover;
    }
}
