$mainBackground: white;

$headBackground: #ddd;
$headColor: black;

$boxBackground: #eee;
$boxTextColor: black;
$boxTextColorSecondary: #777;

$primaryColor: #ff632b;
$primaryColorHover: #de5516;

$badgeGreen: #5cb85c;
$badgeYellow: #ffc520;
$badgeBlue: #0074D9;