<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visma Hackathon</title>

    <!-- Build date: <%=htmlWebpackPlugin.options.buildDate%> -->

    <meta name="Description" content="Visma hackathon idea collector">

    <link async rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/images/raccoon-tiny.png">
</head>

<body>

<div id="main"></div>

</body>
</html>