<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visma Hackathon</title>

    <meta name="Description" content="Visma hackathon idea collector">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/images/raccoon-tiny.png">
</head>

<body>

Error logging in. Only @visma.com e-mails are allowed. <a href="/">Try again?</a>

</body>
</html>