* {
    box-sizing: border-box;
}

.header {
    padding: 5px 20px;
    background-color: #7ec6c7;
    color: white;
    display: flex;
    font-family: monospace;
}

.header--title {
    font-size: 3em;
    flex-grow: 1;
}

.header--auth {
    max-height: 100px;
    display: flex;
    align-items: center;
}

.header--auth--picture {
    width: 32px;
    border-radius: 32px;
    margin-left: 15px;
}

.header--auth--email {
    font-size: 17px;
    font-family: 'trebuche ms';
}

.box--header {
    font-size: 1.7em;
    font-family: Palatino;
}

.box {
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #c3e2e3;
    color: #003366;
}

.users--list {
    border-top: 1px solid #003366cf;
}

.users--entry {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.users--entry--name {
    font-size: 1.2em;
    font-family: Georgia;
}

.entry--picture {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-right: 15px;
}

.ideas--entry {
    display: flex;
    align-items: center;
    margin-top: 20px;

    font-family: Georgia;
}
.ideas--entry--content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ideas--entry--header {
    display: flex;
    align-content: center;
}
.ideas--entry--title {
    font-weight: bold;
    font-size: 20px;
    flex-grow: 1;
}
.ideas--entry--timestamp {
    color: #003366b8;
}
.ideas--entry--description {
    margin-top: 15px;
}

.ideas--creator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ideas--creator--title {
    font-size: 18px;
    margin-top: 15px;
}
ideas--creator--description {
    font-size: 17px;
}


.ideas--creator--title,
.ideas--creator--description {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eee;
    outline: none;
}

.ideas--creator--create {
    width: 100%;

    outline: none;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    color: white;
    background-color: #0085ca;
}

.md strong {
    font-weight: bold;
}
.md em {
    font-style: italic;
}
.md code {
    font-family: monospace;
}